<form method = "POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="name-field">
            {{ form.name.label }}            
            {{ form.name(class = "form-control", placeholder="Name") }}
        </fieldset>
        <fieldset id="description-field">
            {{ form.description.label }}            
            {{ form.description(class = "form-control", placeholder="Description") }}
        </fieldset>
        <fieldset id="price-field">
            {{ form.price.label }}            
            {{ form.price(class = "form-control", placeholder="Price") }}
        </fieldset>
        <fieldset id="camera-field">
            {{ form.camera_quality.label }}            
            {{ form.camera_quality(class = "form-control", placeholder="Camera Quality") }}
        </fieldset>
        <fieldset id="flight-field">
            {{ form.flight_time.label }}            
            {{ form.flight_time(class = "form-control", placeholder="Flight Time") }}
        </fieldset>
        <fieldset id="speed-field">
            {{ form.max_speed.label }}            
            {{ form.max_speed(class = "form-control", placeholder="Max Speed") }}
        </fieldset>
        <fieldset id="dimensions-field">
            {{ form.dimensions.label }}            
            {{ form.dimensions(class = "form-control", placeholder="Dimensions") }}
        </fieldset>
        <fieldset id="weight-field">
            {{ form.weight.label }}            
            {{ form.weight(class = "form-control", placeholder="Weight") }}
        </fieldset>
        <fieldset id="cop-field">
            {{ form.cost_of_production.label }}            
            {{ form.cost_of_production(class = "form-control", placeholder="Cost of Production") }}
        </fieldset>
        <fieldset id="series-field">
            {{ form.series.label }}            
            {{ form.series(class = "form-control", placeholder="Series") }}
        </fieldset>
        <fieldset id="dadjoke-field">
            {{ form.dad_joke.label }}            
            {{ form.dad_joke(class = "form-control", placeholder="Dad Joke") }}
        </fieldset>


        <!-- Submit Button Area -->
        {{ form.submit_button(class = "btn btn-primary btn-block mt-2") }}

    </div>   
</form>